<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <!-- <hr class="star-light"> -->
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Chelsea Outfitters provides quality home and lifestyle products with a sustainable focus, right in the heart of downtown Chelsea, MI.</p>
      </div>
      <div class="col-lg-4">
        <p>Hours</p>
        <p>M-F 10am - 3pm</p>
        <p>Sat 9am - 5pm</p>
        <p>Sun 12pm - 3pm</p>
      </div>
    </div>
  </div>
</section>
