<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <!-- <hr class="star-light"> -->
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Chelsea Outfitters exists because of Megan Trenary. Megan is passionate about quality materials and products that last a lifetime. She loves fixing, salvaging, restoring, and discovering.
        Her vision is is one of individual care for our customers, not mass production for profit. She thrifts, collects, builds, camps, runs, bikes, swims, and parents with the long-term in mind.</p>
      
        <p>Her husband, Matt, supports the operations of Chelsea Outfitters. Inventory, accounting, and making the business work are his drivers. But he's not always found behind a computer.
          Matt loves coaching (rugby), games, wildlife, and getting up to trouble with the kids.</p>
        
        <p>You may happen to run into the kids at the store too. Mack and Lilly are just as excited about Chelsea Outfitters as their parents.
          They're full of quality ideas—and products—for making Chelsea Outfitters a staple of the Chelsea experience.</p>
      </div>
    </div>
  </div>
</section>
