<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <!-- <hr class="star-light"> -->
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Chelsea Outfitters is a purpose-driven endeavor to promote environmentally-friendly lifestyle practices. We can help you learn how to compost, choose materials that are designed for long term use, make simple repairs, and transition to reusable products. Our goal is not to drive for perfection, but to create a ripple effect in our community and ultimately reduce the total waste that we generate.</p>

        <p>Megan and Matt Trenary are a husband and wife partnership who find fulfillment in spreading positivity. We are Michiganders, parents, animal lovers, woods people, lake people, athletes, and home-bodies.</p>
      </div>
    </div>
  </div>
</section>
